@import '~src/styles.sass'
.list-footer 
    list-style: none
    i
        margin-right: 12px
        -webkit-animation: font-size 2s
        &:hover
            font-size: 30px
    li
        font-weight: normal
        margin-top: 10px
        a 
            color: white
        &:first-child
            font-weight: bold
            font-size: 30px
            margin-bottom: 20px
#footer
    background: #323232
    color: white
    padding: 50px 80px
    
.input-email
    input,
    button
        background: none
        border: 1px solid white
        padding: 10px 10px
        font-size: 16px
        color: white
        i
            font-size: 16px
            -webkit-animation: font-size 1
            &:hover
                font-size: 22px

.input-email
    input
        border-right: none
        width: 70%
#last-footer 
    @extend .list-footer
    height: 60px
    line-height: 60px
    background-color: black
    color: white