<div id="footer" class="container-fluid">
    <div class="row">
        <div class="col-4">
            <ul class="list-footer">
                <li>KUMA HOUSE</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Blanditi is eum cum nam dolore corpo recusandae explicabo?
                </li>
                <li><i class="fab fa-instagram"></i><i class="fab fa-facebook-square"></i><i class="fab fa-twitter-square"></i><i class="fab fa-youtube-square"></i></li>
            </ul>
        </div>
        <div class="col-4">
            <ul class="list-footer">
                <li><a href="#">SHOP</a></li>
                <li><a href="#">For men</a></li>
                <li><a href="#">For wonmen</a></li>
                <li><a href="#">Store</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="col-4">
            <ul class="list-footer">
                <li>DAILY OFFERS & DISCOUNTS</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</li>
                <li class="input-email">
                    <input type="text" placeholder="You enter your email">
                    <button><i class="fab fa-telegram-plane"></i></button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid" id="last-footer">
    <div class="row">
        <div class="col-6">
                <p>&copy; 2019 by Huynh Kien</p>
        </div>
        <div class="col-6 text-right">
                <p><i class="fab fa-cc-visa"></i><i class="fab fa-cc-mastercard"></i><i class="fab fa-cc-paypal"></i></p>
        </div>
    </div>
</div>