.show-item
    background-color: gray
    border: 8px solid white
    height: 400px
.info-service
    margin: 80px auto
    text-align: left
    i
        font-size: 60px  
.info-product
    margin: 50px auto
