<div class="container info-product">
    <div class="row">
        <div class="col-6 show-item1"><img src="../../assets/image/clark-street-mercantile-qnKhZJPKFD8-unsplash.jpg" alt="" width="100%"></div>
        <div class="col-6 show-item1"><img src="../../assets/image/hannah-morgan-ycVFts5Ma4s-unsplash.jpg" alt="" width="100%"></div>
    </div>
    <div class="row">
        <div class="col-4 show-item2"><img src="../../assets/image/stil-D4jRahaUaIc-unsplash.jpg" alt="" width="100%" height="500px"></div>
        <div class="col-4 show-item2"><img src="../../assets/image/alexandra-gorn-WF0LSThlRmw-unsplash.jpg" alt="" width="100%" height="500px"></div>
        <div class="col-4 show-item2"><img src="../../assets/image/alexandru-acea-T5jXjei49uY-unsplash.jpg" alt="" width="100%" height="500px"></div>
    </div>
</div>
<div class="container-fluid info-service">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-4">
                        <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="col-8">
                    <p>FREE SHIPPING & RETURN</p>
                    <p>Free Shipping over $300</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-4">
                    <i class="fas fa-donate"></i>
                </div>
                <div class="col-8">
                    <p>MONEY BACK GUARANTEE</p>
                    <p>30 Days Money Back Guarantee</p>
                </div>
            </div>
        </div>
        <div class="col-4">
                <div class="row">
                    <div class="col-4">
                        <i class="fas fa-headset"></i>
                    </div>
                    <div class="col-8">
                        <p>020-800-456-747</p>
                        <p>24/7 Available Support</p>
                    </div>
                </div>
            </div>
    </div>
</div>
