<div class="banner-sub">
    <h1>Product Detail</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nam laudantium veritatis, cumque</p>

</div>
<div style="text-align: center ; padding: 30px">Kuma house | Product - Detail</div>
<div class="container">
    <div class="row product-detail">
        <div class="col-6">
            <img src="../../assets/image/eduardo-dutra-Is_jnQOc-EQ-unsplash.jpg" width="80%" alt="">
        </div>    
        <div class="col-6 item-detail">
            <h1 class="name">White tee</h1>
            <h3 class="price">$60 <span> $100</span></h3>
            <h5 class="price"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> 25 review</h5>
            <p>Lorem ipsum dolor sit amet consectetur adi . Tempore corporis, delectus soluta officiis pariatur repudiandae! Incidunt sit eligendi
            pisicing elit. Tempore corporis, delectus soluta officiis pariatur repudiandae! Incidunt sit eligendi</p>
            <ul>
                <li class="item-size">
                    <h5>Size</h5>
                </li>
                
                <li class="item-type">
                    <h5>Type</h5>
                </li>
                <li class="items">
                    <h5>Items</h5>
                </li>
            </ul>
            <button class="btn-buy"> <i class="fas fa-shopping-cart"></i> Add to cart</button>
        </div>
    </div>
    

</div>
