
<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="position: sticky;top:0;position: -webkit-sticky;z-index: 1" id= nav-menu>
    <a class="navbar-brand " href="#">KUMA HOUSE .</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product" >Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/sale" >Sale</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/question">Q&A</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <button class="navbar-brand" (click)="showSearchBar()"><i class="fas fa-search"></i></button>
      <button class="navbar-brand " ><i class="fas fa-user"></i></button>
      <button class="navbar-brand " ><i class="fas fa-cart-plus"></i></button>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
    <div id="search-bar" *ngIf="searchBar">
      <p><button (click)="unshowSearchBar()"><i class="fas fa-times" ng></i></button></p>
      <div style="border-bottom: 2px solid black; width: 40%; margin: 0 auto">
        <input type="text" placeholder="What are you looking for ?">
        <button><i class="fas fa-search"></i></button>
      </div>
    </div>
    
  </nav>
  <router-outlet></router-outlet>  

  